
  .about{
    padding: 0px;
    margin: 0px;
    
    font-weight: 100;
    font-family: Poppins;
    position: absolute;
    height: 250px;
    width: 901px;
    top: 80px;
    left: 320px;
    /* background-color: blueviolet; */

}

.about h2{
  padding-left: 30px;
  font-size: 30px;
}
.aboutus p{
    padding: 20px;
    /* background-color: blue; */
    /* border-color: black; */
    padding-left: 30px;
    font-size: 20px;
}