.mybox{
    display: flex;
    flex-direction: row;
    top: 100px;
    left: 350px;
  font-family: Poppins;
    position: absolute;
    align-items: center;
    text-decoration: none;
}

.img1{
    padding-left: 200px;
}
.img1 img{
    width: 450px;
    height:500px;
}
